.dropdown.error div {
	border-color: #ff0000;
}

.find-issuer .dropdown .icon {
  border-radius: 0;
  border: none;
}
  
.find-issuer .dropdown .menu {
  border: 2px solid rgba(34, 36, 38, 0.15);
  width: calc(100%);
  margin-left: -2px;
  border-radius: 0;
  box-sizing: content-box;
}
  
.find-issuer .ui.selection.dropdown .menu {
  min-width: 100%;
}
  
.selected-client {
  margin-top: 32px !important;
}
  
.client-name {
  margin-left: 20px;
  color: #a7b3a3;
  font-size: 1.3em;
}
  
.client-name.empty {
  border-bottom: 1px solid #a7b3a3;
  min-width: 27% !important;
  display: inline-block;
  height: 21px;
}
  
@media only screen and (max-width: 782px) {
  .find-issuer .dropdown {
    width: 90%;
    max-width: 300px;
  }
}
  
@media only screen and (max-width: 329px) {
  .find-issuer .dropdown {
    width: 100%;
  }

  .client-name.empty {
    min-width: 60% !important;
  }
}