# compiled output
/dist
/node_modules
package_lock.json
/build

.env*
!.env.template

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Config file
branding/custom/
src/config/config.dev.js
src/config/config.dev.ts
src/config/config.prod.js
ssl_keys/*
*.tar.gz
.npmrc

variables.vars

public/icons
public/screenshots
public/favicon.ico
public/image.png
public/logo_*.svg
public/logo_*.png
public/manifest.json
public/robots.txt
public/sitemap.xml
public/.well-known/apple-app-site-association
public/.well-known/assetlinks.json
