.find-issuer .content {
	padding-left: 10%;
	padding-right: 10%;
}

.find-issuer .container-header {
	margin-bottom: 50px;
}

.find-issuer h2.step-title {
	color: #003476;
	margin-bottom: 30px;
}

.find-issuer .buttons {
	margin: 0 auto;
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
}

.find-issuer .back-link,
.find-issuer .next-link {
	color: #003476 !important;
	font-size: 17px;
	cursor: pointer;
	outline: none;
	text-decoration: none !important;
}

.find-issuer .back-link span {
	margin-right: 5px;
}

.find-issuer .next-link span {
	margin-left: 5px;
}

.find-issuer .select-container {
	width: 50%;
}

.select-container p.err {
	margin-top: 1%;
	color: red;
}