
.filter-vc .hamburger {
	cursor: pointer;

	padding: 5px 8px;
	border: solid;
	border-radius: 5px;
	border-width: 2px;
	border-color: var(--ediplomas-blue);
	background-color: var(--ediplomas-blue);
	color: #fff;
}

.filter-vc-container {
	margin: 20px;
}