#Form .form-flex {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
}

#Form .form-box {
	width: 60%;
	min-width: 300px;
	border-radius: 4.2px;
	box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

#Form .item {
	flex: 0 0 auto;
	margin: 10px;
}

#Form .title {
	color: #003476;
	margin-top: 5%;
}

#Form .subtitle {
	color: #003476;
	font-size: 0.8em;
	margin: 0 10px;
}

#Form #buttons {
	display: flex;
	/* margin: 5% 0; */
	margin-top: 5%;
	margin-bottom: 5%;
}

#Form .input-wrap {
	border-bottom: 2px solid #adadad;
}

#Form .input-wrap.invalid {
	border-bottom: 2px solid red;
}

#Form p.invalid-feedback {
	display: block;
	color: red;
}

#Form .input-wrap:focus-within {
	border-bottom: 2px solid transparent;
	border-image: linear-gradient(300deg, #00aeef 20%, #134a86);
	border-image-slice: 1;
}

#Form input {
	border: none;
	outline: none;
}

@media screen and (max-width: 350px) {

	#Form .form-box {
		width: 100%;
		min-width: 0;
	}

}