




.bg-dark {
    background-image: linear-gradient(to bottom right, #1f1f1f, #313132);
}

.bg-light {
    background-image: linear-gradient(to bottom right, #F2F2F2, #F2F2F2);
    border-color: #F2F2F2;
}

.mid-divider {
    width: 35%;
    height: 1px;
    background-color: rgb(196, 196, 196);
    margin-bottom: 5%;
    margin-top: 5%;
    left: 0%;
    position: relative;
}

.selected {
    background-color: #003476 !important;
    color: rgb(247, 247, 247) !important; 
}

.notselected {
    background-color: #e9ecef !important;
    color: #212529 !important; 
}



/* search container */

.search-container {
    /* margin: auto; */
    width: 30%;
    /* border: 3px solid green; */
    padding: 10px;
    height: 80px;
    margin-bottom: 20px;
    min-width: 250px;
}




.search {
    width: 100%;
    position: relative;
    display: flex;
    height: 100%;
}
  
.searchTerm {
    font-family:Arial, FontAwesome;
    width: 100%;
    border: 3px solid #e9ecef;
    border-right: none;
    border-left: none;
    border-top: none;
    padding: 5px;
    border-radius: 15px;
    color: #a1aca7;
    height: 100%;
    font-size: 20px;
    border-color: #e9ecef86;
    background-color: #e9ecef86;
}
  
  .searchTerm:focus input{
    color: #a1aca7;
}