
.tooltip-container {
    background-color: #E4E6EA !important;
    transition: opacity 250ms !important;
    border-radius: 10px !important;
    opacity: 0;
    box-shadow: 0px 3px 12px rgba(0,0,0,0.08);
    color: #0E0F11 !important;
    z-index: 10000 !important;
    border: 1px solid #E2E2E2 !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.tooltip-container p {
    font-size: 13px !important;
    line-height: 18px !important;
}

.tooltip-container.reverseColor {
    background-color: #0E0F11 !important;
    color: #E4E6EA !important;
    border: 1px solid #0E0F11 !important;
    font-weight: 500;
}

.light .tooltip-container {
    border: none !important;
}

.tooltip-container.max-width {
    max-width: 220px;
    text-align: center !important;
}

.tooltip-container::after {
    border-top-color: #E2E2E2 !important;
    border-bottom-color: #E2E2E2 !important;
    border: none !important;
}
.light .tooltip-container::after {
    border-top-color: var(--white) !important;
    border-bottom-color: var(--white) !important;
}

.tooltip-container.reverseColor::after {
    border-top-color: #0E0F11 !important;
    border-bottom-color: #0E0F11 !important;
    border: none !important;
}
.light .tooltip-container.reverseColor::after {
    border-top-color: #0E0F11 !important;
    border-bottom-color: #0E0F11 !important;
    border: none !important;
}

.tooltip-container.show {
    opacity: 1 !important;
}


.tooltip-container.react-tooltip__place-bottom  .react-tooltip-arrow {
    border-right: 1px solid #E2E2E2 !important;
    border-bottom: 1px solid #E2E2E2 !important;
    top: -5px !important;
}
.tooltip-container.react-tooltip__place-top  .react-tooltip-arrow {
    border-right: 1px solid #E2E2E2 !important;
    border-bottom: 1px solid #E2E2E2 !important;
    bottom: -5px !important;
}
.tooltip-container.react-tooltip__place-right  .react-tooltip-arrow {
    border-right: 1px solid #E2E2E2 !important;
    border-bottom: 1px solid #E2E2E2 !important;
    left: -5px !important;
}
.tooltip-container.react-tooltip__place-left  .react-tooltip-arrow {
    border-right: 1px solid #E2E2E2 !important;
    border-bottom: 1px solid #E2E2E2 !important;
    right: -5px !important;
}

.tooltip-container.react-tooltip__place-bottom.reverseColor  .react-tooltip-arrow {
    border-right: 1px solid #0E0F11 !important;
    border-bottom: 1px solid #0E0F11 !important;
}
.tooltip-container.react-tooltip__place-top.reverseColor  .react-tooltip-arrow {
    border-right: 1px solid #0E0F11 !important;
    border-bottom: 1px solid #0E0F11 !important;
}
.tooltip-container.react-tooltip__place-right.reverseColor  .react-tooltip-arrow {
    border-right: 1px solid #0E0F11 !important;
    border-bottom: 1px solid #0E0F11 !important;
}
.tooltip-container.react-tooltip__place-left.reverseColor  .react-tooltip-arrow {
    border-right: 1px solid #0E0F11 !important;
    border-bottom: 1px solid #0E0F11 !important;
}