h1.object-title {
	text-align: center;
	color: var(--ediplomas-blue);
	font-size: 16px;
}

#VC {
	/* height: calc(100% - 50px); */
	display: flex;
	flex-direction: column;
	/* gap: 10px; */
}

#VC .circular-card { /* deprecated */
	flex-grow: 1;

	border: solid rgb(208, 208, 208);
	background-color: #f6f6f6;
	border-radius: 12px;
	color: black;
	height: 120px;
	overflow: hidden;
	user-select: none;

	border-width: 2px;
	font-size: 20px;
	min-width: 300px;

	padding: 4px;
}

#VC .card {
	border: solid rgb(208, 208, 208);
	border-top: none;
	background-color: #f6f6f6;
	border-radius: 0;
	color: black;
	height: 120px;
	overflow: hidden;
	user-select: none;

	border-width: 2px 0;
	font-size: 20px;
	min-width: 300px;

	padding: 4px;
}

#VC .card:first-child {
	border-top: solid 2px rgb(208, 208, 208);
}

#VC .card.obj-card {
	color: var(--ediplomas-blue);
	cursor: pointer;
}

/* #VC .card.val-card {
}

#VC .card.val-card .key {

} */

#VC .card.obj-card .value {
	/* color: black; */
	opacity: 0.5;
	padding-left: 8px;
	font-style: italic;
}

#VC .card .value {
	opacity: 0.5;
	padding-left: 8px;
}

@media only screen and (max-width: 1080px) {

	div.obj-breadcrumb {
		display: none;
	}

	.my-modal .header {
		justify-content: flex-start;
	}


}

@media only screen and (max-width: 600px) {
	
	#VC .card {
		height: auto;
	}

}