#VC {counter-reset:section;}
#VC h1 {counter-reset:subsection;}
#VC h2 {counter-reset: subsubsection;}
#VC h3 {counter-reset: subsubsubsection;}

#VC h1:before {
	counter-increment: section;
	content: " " counter(section) ". ";
  font-weight:bold;
}

#VC h2:before  {
counter-increment:subsection;
opacity: 0.7;
content: " " counter(section) "." counter(subsection) ". ";
}



#VC h3:before {

	opacity: 1;
	counter-increment:subsubsection;
	content: " " counter(section) "." counter(subsection) "." counter(subsubsection) ". ";
}

#VC h4:before {

	opacity: 1;
	counter-increment:subsubsubsection;
	content: " " counter(section) "." counter(subsection) "." counter(subsubsection) "." counter(subsubsubsection) ". ";
}




#VC div, span {
	display: inline-block;
}


#VC .layout {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 200px);
  gap: 8px;
}