/* Style the tab */
.tab {
	overflow: hidden;
	border: none;
	background-color: #f1f1f1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	grid-auto-rows: auto;
	grid-gap: 0;
	margin-bottom: 50px;
}

.bottom-tab {
	display: none;
	height: 80px;
	
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	opacity: 0.3;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

.bottom-tab button {
	height: 80px;
	font-size: 32px;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
	opacity: 1;
}

.blue {
	color: #003476;
}

@media only screen and (max-width: 800px) {
	.tab {
		display: none;
	}

	.bottom-tab {
		display: grid;
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 1;
		margin: 0;
	}

	.tab button:first-child {
		border-top: none;
	}
}

#mobile-tabs {
	transition: 0.6s;
}