.layout {
  width: 100%;
  height: 100%;

  display: grid;
  grid:
    "header" auto
    "main" auto
    "footer" auto
    / 1fr;
  gap: 8px;
  min-height: 100%;
  position: relative;
}

.header { 
  background-color: #313132; 
  position: relative;

  height: 45px;
  /* background-image: linear-gradient(to bottom right, rgb(196, 196, 196), rgb(124, 124, 124)); */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; /* starting state */
}

.header-content {
  position: absolute;
  top: 25%;
  font-size: 17px;
  color: #D6D6D6;
  font-weight: 300;
  width: 100%;
  text-align: center;
  /* border: 3px solid rgb(202, 202, 202);  */
}

.main { 
  grid-area: main;
  position: relative;
  /* border-style: solid; */
  /* border-color: red green blue yellow;  */
  margin: 10px auto;
  padding: 10px;
}

.footer {
  background-color: #EAEAEA;
  grid-area: footer;
  bottom: 0;
  position: relative;

  height: 200px;

}


.container2 {
  background-color: #ffffff;
  height: 60vh;
  width: 70%;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 3px 15px rgba(0,0,0,.2);
  opacity: 100;
  margin: 50px auto;
  text-align: center;
  position:relative;
  border-radius: 10px;
  padding: 20px;

}

.dragleft {
  position: absolute;
  right: 3%;
  color: #D6D6D6;
  top: 0%;
  font-weight: 1;

}