/*   color variables */
$clr-primary: #f06292;
$clr-primary-hover: #fce4ec;
$clr-primary-dark: #ec407a;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;

/*   border radius */
$radius: 0.2rem;

.flexbox-container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.flexbox-item {
  width: 100%;
  // border: 3px solid #333
}

.flexbox-item-1 {
  min-height: 100px;
}


.flexbox-item-2 {
  height: fit-content;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
}

// .img-logo {
//   height: 15px;
// }

// .pull-left {
//   margin-left: 2%;
//   margin-top: 10px;
// }

// .nav {
//   position: fixed;
//   width: 100vw;
//   box-shadow: 0 0 10px $clr-gray300;
//   background-color: #313132;
//   z-index: 100; /* always on top */
//   height: 45px;


//   &__list {
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
//     gap: 2rem;
//     margin: 0 2rem;
    

//     &logo {
//       list-style: none;
//       margin-right: auto;
//       cursor: pointer;
//       left: 45%;
//       top: 10px;
//       position: absolute;
//       color: #D6D6D6;
//       svg {
//         width: 2.5rem;
//         transition: fill 250ms ease-in;

//         &:hover,
//         &:focus {
//           fill: $clr-primary;
//         }
//       }
//     }

//     &item {
//       list-style: none;
//       top: 10px;
//       right: 56px;
//       position: absolute;
//       // padding: 1.5rem 1rem;
//       cursor: pointer;
//       color: #D6D6D6;

//       &::after {
//         content: "";
//         width: 0;
//         height: 0.3rem;
//         border-radius: $radius;
//         position: absolute;
//         left: 1rem;
//         bottom: 0.8rem;

//       }

//       &:hover::after,
//       &:focus::after {
//         width: 60%;
//       }

//       &:hover ul {
//         opacity: 1;
//         visibility: visible;
//       }

//       &drop {
//        background-color: #313132; 
//         position: absolute;
//         top: 3rem;
//         left: -9rem;
//         box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;;
//         // background-color: white;
//         border-radius: 8px;
//         width: 12rem;
//         padding: 1rem;
//         display: flex;
//         flex-direction: column;
//         gap: 0.5rem;
//         opacity: 0.6;
//         visibility: hidden;
//         transition: all .5s ease-in-out;
//         font-weight: 300;
      
//         li {
//           list-style: none;
//           padding: 0.5rem 1rem;
//           border-radius: $radius;
          
//           // transition: background-color 200ms ease-in-out;
  
//           &:hover,
//           &:focus {
//             background-color: rgb(167, 167, 167);
//           }
//         }
//       }
//     }
//   }
// }
