.scopes-container {
    background-color: #fff;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border:0px solid;
    margin-top: 40px;
    width: 60%;
    max-width:900px;
    margin:auto;
    padding: 10px 10px;
    margin-bottom: 90px;
}

.scopes-container h1 {
    font-size: 30px !important;
    text-align: center;
    opacity: 0.65;
    font-weight: 700;
    padding-top: 1rem;
}

.gunet-container p {
     /* max-width:850px; */
}

.scopes td {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    /* min-width: 130px; */
}

tbody {
    /* width: 100%; */
    vertical-align: middle;
     display:inline-block
    /* padding: auto; */
}
.scopes tr {
   padding-right: 2%; 
}

.scopes tr:nth-child(odd) {
    background-color: #F8F8F8;
}


.scopes td .scopeIcon {
    margin: 0 6px 0 20px;
}

.check{
    padding-top: 40px;
}

hr {
    max-width: 900px;
    float: left;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}