.PlainCredential .SingleCredential {
	border: solid rgb(208, 208, 208);
	background-color: #ffffff;
	border-radius: 9px;
	color: black;
	height: 120px;
	overflow: hidden;
	user-select: none;

	border-width: 1px;
	width: 300px;
	font-size: 20px;
	cursor: pointer;
	min-width: 300px;
	/* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
}

.BoxHeader {
	margin-top: 6px;
	margin-left: 2px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: auto;
  align-content: start;
	color: #5f6368;
	font-size: 10px;

}
.BoxHeaderItem {
  flex: 0 0 auto;
  /* margin: 5px; */
}

.PlainCredential .CredentialPreviewFieldsContainer {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	align-content: start;
}

.PlainCredential .CredentialType {
	font-weight: 100;
	font-size: 14px;
}

.PlainCredential .CredentialPreviewItem {
	flex: 0 0 auto;
	margin: 10px;
}

.PlainCredential .CredentialIssuer {
	font-style: bold;
	font-weight: 900;
	margin-right: 5px;
}

.PlainCredential .placeholders {
	margin: 15px 0;
}

.TextPlaceholder {
	background-color: rgb(0, 0, 0, 0.1);
}

.TextPlaceholder.Sm {
	width: 60px;
	height: 18px;
}

.TextPlaceholder.Med {
	width: 80px;
	height: 18px;
}

.TextPlaceholder.Lg {
	width: 120px;
	height: 21px;
}

#Mgn {
	margin-left: 5px;
	margin-right: 5px;
}

.PlainCredential .SingleCredential:hover {
	
	/* box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px; */
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-color:  var(--custom-selected);
	border-width: 2px;
}

@media screen and (max-width: 360px) {
	.PlainCredential .SingleCredential {
		border-width: 1px;
		width: 100%;
		font-size: 14px;
	}
}