.PlainCredential .SingleCredential {
	border: solid rgb(208, 208, 208);
	background-color: #f6f6f6;
	border-radius: 12px;
	color: black;
	height: 120px;
	overflow: hidden;
	user-select: none;

	border-width: 2px;
	width: 50%;
	font-size: 20px;
	min-width: 300px;
}

.PlainCredential .CredentialPreviewFieldsContainer {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	align-content: start
}

.PlainCredential .CredentialPreviewItem {
	flex: 0 0 auto;
	margin: 10px;
}

.PlainCredential .CredentialIssuer {
	font-style: italic;
	font-size: small;
	opacity: 0.7;
}

.PlainCredential .placeholders {
	margin: 15px 0;
}

@media screen and (max-width: 360px) {
	.PlainCredential .SingleCredential {
		border-width: 1px;
		width: 100%;
		font-size: 14px;
	}
}