.language-switch {
	color: #fff !important;
	z-index: 3;
	width: auto;
	text-align: right;
	bottom: 15px;
	margin-right: 5px;
	font-size: 13.333px;
	width: 100px;
}

.language-switch button {
	border: none;
	background-color: transparent;
	color: #fff;
	border-bottom: 2px solid transparent;
	cursor: pointer;
	padding: 0 5px;
	padding-bottom: 3px;
	margin: 0 8px;
	outline: none;
	z-index: 3;
}

.language-switch button:hover {
	color: #00aeef;
	border-bottom: 2px solid #00aeef;
	transition: all 0.3s;
}

.language-switch button.active {
	border-bottom: 2px solid #00aeef;
	color: #00aeef;
}