.give-pass {
    opacity: 0;
}

.spinner {
  text-align: center;
  align-content: center;
  margin-right: 150px; /* 300/2 */
  
}

.fade-in-text {
    /* display: inline-block; */
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-size: 150px; */
    color: black;
    animation: fadeIn linear 0.7s;

    -webkit-animation: fadeIn linear 0.7s;
    -moz-animation: fadeIn linear 0.7s;
    -o-animation: fadeIn linear 0.7s;
    -ms-animation: fadeIn linear 0.7s;
}
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }


  .recenter {
    text-align: center;
    margin: auto;
    left: 50%;
    margin-bottom: 50px;
  }


.wrap-text {
  width: 100%;
}