.fade-in-text {
	color: black;
	margin-top: 10%;
	animation: fadeIn linear 0.7s;

	-webkit-animation: fadeIn linear 0.7s;
	-moz-animation: fadeIn linear 0.7s;
	-o-animation: fadeIn linear 0.7s;
	-ms-animation: fadeIn linear 0.7s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-ms-keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}