.vc-with-back {

}


.credential-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 9px !important;
  width: 60%;
  min-width: 250px  !important;
  margin-left: 8%;   /* override margin left so that credential and back button move together */
}

.back-button {
  position: relative;
  margin-left: 10%;
  margin-top: 25px;
  margin-left: 8%;

}