.SelectableCredential .SingleCredential {
	overflow: hidden;
	user-select: none;
	border-width: 2px;
	font-size: 20px;
	flex-grow: 4;
}

.SelectableCredential .CredentialPreviewFieldsContainer {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	align-content: start
}

.SelectableCredential .CredentialPreviewItem {
	flex: 0 0 auto;
	margin: 10px;
}

.SelectableCredential .CredentialIssuer {
	font-style: italic;
	font-size: small;
	opacity: 0.7;
}

.SelectableCredential .placeholders {
	margin: 15px 0;
}

.SelectableCredential .SplitCredential {
	border: solid rgb(208, 208, 208);
	background-color: #f6f6f6;
	border-radius: 12px;
	color: black;
	display: flex;
	height: 120px;
	width: 50%;
	min-width: 300px;
}

.SelectableCredential .SplitCredential .selection {
	flex-grow: 1;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-right: solid 2px rgb(208, 208, 208, 0.3);
	cursor: pointer;
}

.SelectableCredential .SplitCredential.selected {
	border-color: var(--ediplomas-blue);
}

@media screen and (max-width: 360px) {
	.SelectableCredential .SingleCredential {
		border-width: 1px;
		width: 100%;
		font-size: 14px;
	}
}