#SelectableCredential .SelectableCredential .SingleCredential {
	overflow: hidden;
	user-select: none;
	flex-grow: 4;
	color: black;
	cursor: pointer;
}


#SelectableCredential .SelectableCredential .CredentialPreviewFieldsContainer {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: start;
	align-items: flex-start;
	align-content: start
}

#SelectableCredential .SelectableCredential .CredentialPreviewItem {
	flex: 0 0 auto;
	margin: 10px;
}

#SelectableCredential .SelectableCredential .CredentialIssuer {
	font-style: bold;
	font-weight: 900;
	margin-right: 5px;
}

#SelectableCredential .SelectableCredential .placeholders {
	margin: 15px 0;
}

#SelectableCredential .SelectableCredential .SplitCredential {
	/* border: solid rgb(208, 208, 208); */
	/* background-color: #f6f6f6; */
	border-radius: 12px;
	color: black;
	display: flex;
	height: 120px;
	width: 50%;
	min-width: 300px;
	background-color: #fff;

	border: solid rgb(208, 208, 208);

	border-radius: 9px;

	border-width: 1px;
}

#SelectableCredential .SplitCredential:hover {
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-color:  var(--custom-selected);
	border-width: 2px;
}

#SelectableCredential .SelectableCredential .SplitCredential .selection {
	flex-grow: 1;
	min-width: 50px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-right: solid 1px rgb(208, 208, 208, 0.3);
	cursor: pointer;
}

#SelectableCredential .SelectableCredential .SplitCredential.selected {
	/* border-color: var(--ediplomas-blue); */
	border-color:  var(--custom-selected);
	border-width: 2px;
}

@media screen and (max-width: 360px) {
	.SelectableCredential .SingleCredential {
		border-width: 1px;
		width: 100%;
		font-size: 14px;
	}
}

#SelectableCredential .CredentialType {
	font-weight: 100;
	font-size: 14px;
}