.button {
	margin-right: 20px;
	margin-bottom: 20px;
}

.yellow-button {
	background-color: #F9CA1A;
	color: #000;
}

.yellow-button:hover {
	background-color: #caa418;
	color: #000;
	transition: 0.1s ease-in-out;
}

.grey-button {
	background-color: #a0a0a0;
	color: white;
}

.grey-button:hover {
	background-color: #818181;
	color: white;
	transition: 0.1s ease-in-out;
}

.login-content {
	margin-top: 25px;
}

.passphrase-input-field {
	width: 300px;
}