.yellow-button {
	background-color: #F9CA1A;
	color: #000;
}

.yellow-button:hover {
	background-color: #caa418;
	color: #000;
	transition: 0.1s ease-in-out;
}

.grey-button {
	background-color: #a0a0a0;
	color: white;
}

.grey-button:hover {
	background-color: #818181;
	color: white;
	transition: 0.1s ease-in-out;
}

.login-content {
	margin-top: 10%;
}


.hint {
	font-weight: 200;
	font-size: smaller;
	opacity: 0.5;
}




.Register {
	background-color: #fff;
	/* color: rgb(0, 162, 255); */
	color: #003476;
	transition: 0.4s;
	border: none;
	/* width: 100%; */
	cursor: pointer;
  line-height: 1.5;
  margin: 0;
}

.arrow {
	margin-left: 22px;
}

.Register:hover {
	opacity: 0.5;
	text-decoration: underline;
}

.next-icon {
	margin-left: 5px;
	transition: 0.4s;
}

/* select what next-icon will do when we hover over proceed class */
.Register:hover .next-icon {
	margin-left: 10px;
}
