.gunet-container {
	min-height: 70vh;
	font-size: 20px;
	width: 80%;
	display: block;
	margin: 0 auto;
	margin-top: 60px;
}

.login-button {
	display: inline-block;
	margin: 20px 0 20px;
	padding: 14px 70px;
	font-size: 18px;
	min-width: auto;
	cursor: pointer;
	color: #fff;
	font-weight: 700;
	border: none;
	border-radius: 8px;
}

h2 {
	color: #353f55ad;
}

button {
	cursor: pointer;
}

a {
	color: #003476;
	transition: color 0.5s;
	cursor: pointer;
	outline: none;
	text-decoration: none;
}

a:hover.fas {
	transition: color 0.5s;
}

a:hover .no-transition {
	transition: none;
}

a:hover,
a:hover .fas {
	color: #00aeef;
	transition: color 0.5s;
}

.strong {
	font-weight: 800;
}

.compact {
	padding: 0 !important;
	position: relative !important;
}

.split {
	column-count: 2;
	column-gap: 70px;
	column-rule: 2px solid lightblue;
}

.fancy {
	color: #fff;
	background-color: #003476;
	border: 0px !important;
	padding: 20px 40px;
	font-size: 18px;
}

.fancy .fas {
	color: #fff;
}

.fancy:hover {
	background-color: #002452;
	transition: 0.1s ease-in-out;

}

.fancy:hover .animatable {
	padding-left: 6px;
	transition: padding 0.1s ease-in-out;
}

@media only screen and (max-width: 782px) {

	.img-logo {
		height: 65px;
		margin-right: -10px;
	}

	#img-govgr {
		width: 100px;
	}
}

@media only screen and (max-width: 670px) {
	.container-header {
		position: relative;
		top: 50px;
		font-size: 20px;
		text-align: center;
		padding: 15px;
	}

	#eDiplomasLogo .logo-text {
		font-size: 20px;
		padding: 0;
		margin: 0;
	}
}

@media only screen and (max-width: 480px) and (max-height: 950px) {
	/* usual phone screens */

	#img-govgr {
		right: 5px;
		top: 25px;
	}

	.Header h1 {
		padding-bottom: 0;
	}

	.container-header {
		position: relative;
		top: 50px;
		font-size: 20px;
		text-align: center;
		padding: 15px;
	}
}