:root {
	--main-fonts: Helvetica, sans-serif;
	--ediplomas-blue: #003476;
	--ediplomas-blue-hover: #002452;
	--ediplomas-secondary: #6dcff6;
	--ediplomas-white: #c7eafb;
	--custom-selected: #1967d2 
}

body {
	font-family: var(--main-fonts) !important;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: auto;
  scroll-behavior: smooth;
}

html {
	position: relative;
	height: auto;
	min-height: 100%;
}