.tab-row-layout {
    width: 100%;

    background-color: #003476;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: fit-content;
}


.tab-layout {
    color: #ffffff;
    margin-bottom: 9px;

    width: 100%;
    margin-top: 9px;

    display: flex;
    gap: 30px;


    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 570px) {
    .tab-layout {
        color: #ffffff;
        margin-bottom: 9px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;

        justify-content: center;
        align-items: center;
    }
}


.tab-row-layout.secondary {
    background-color: white;
    color: black;
}

.tab-layout.secondary {
    background-color: white;
    color: black;
}

.secondary-tab-elem {

    text-decoration:none;
    width:50px;
    height:100%;
    /* display:block; */
    /* margin:0;
    padding:0; */
    text-align: center;
}